/***************************
****************************
Use your keyboard keys to play

QWERTYASDF

****************************
***************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  font-size: 40px;
  overflow-wrap: anywhere;
}

#pads {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;
}

.pad {
  background-color: #bbb;
  border-radius: 5px;
  width: 17%;
  height: 17%;
  cursor: pointer;
  display: table;
}

.pad p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}